<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Invitation</title>
</head>
<body>
<form th:action="@{/org_com/send_invitation/{orgComId}(orgComId=${orgComId})}" th:object="${invitation}" method="post">
    <div>
        <label for="tel">Телефон:</label>
        <input type="text" th:field="*{tel}" id="tel" />
        <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></span>
    </div>

    <div>
        <label for="orgRole">Роль:</label>
        <select th:field="*{orgRole}" id="orgRole">
            <option value="" disabled selected>Выберите роль</option>
            <option th:each="role : ${T(com.course_work.Sports_Menagement_Platform.data.enums.Org).values()}"
                    th:value="${role}"
                    th:text="${role}"></option>
        </select>
        <span th:if="${#fields.hasErrors('orgRole')}" th:errors="*{orgRole}"></span>
    </div>

    <div>
        <label for="isReferee">
            <input type="checkbox" th:field="*{isRef}" id="isReferee" /> Судья
        </label>
    </div>
    <div>
        <button type="submit">Отправить</button>
    </div>

    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>
</form>

</body>
</html>