<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Заявка</title>
</head>
<body>
<h2>Подать заявку на участие в турниире</h2>
<form th:action="@{/tournament/create_application/{id}(id=${tournamentId})}" th:object="${application}" method="post">

  <div>
    <label for="teamName">Название Команды:</label>
    <input type="text" id="teamName" th:field="*{teamName}" required/>
    <span th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}"></span>
  </div>

  <div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
  </div>

  <button type="submit">Подать заявку</button>
</form>
</body>
</html>
