<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Детали турнира</title>
</head>
<body>
<h1>Детали турнира</h1>

<table>
  <tr>
    <th>Название</th>
    <td th:text="${tournament.name}"></td>
  </tr>
  <tr>
    <th>Вид спорта</th>
    <td th:text="${tournament.sport}"></td>
  </tr>
  <tr>
    <th>Оргкомитет</th>
    <td th:text="${tournament.userOrgCom.orgCom.name}"></td>
  </tr>
  <tr>
    <th>Город</th>
    <td th:text="${tournament.city.name}"></td>
  </tr>
  <tr>
    <th>Минимальное количество участников</th>
    <td th:text="${tournament.minMembers}"></td>
  </tr>
  <tr>
    <th>Дедлайн регистрации</th>
    <td th:text="${#temporals.format(tournament.registerDeadline, 'dd.MM.yyyy')}"></td>
  </tr>
  <tr>
    <th>Описание</th>
    <td th:text="${tournament.description}"></td>
  </tr>
</table>

<div th:if="${registrationOpen}">
  <form th:action="@{/applications/create_application/{id}(id=${tournament.id})}" method="get">
    <button type="submit">Подать заявку</button>
  </form>
</div>
<div>
  <form th:action="@{/applications/applications/{id}(id=${tournament.id})}" method="get">
    <button type="submit">Команды</button>
  </form>
</div>




</body>
</html>
