<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/user/profile}">Мой профиль</a>
    <a th:href="@{/logout}">Выйти</a>
    <a th:href="@{/tournament/show_all}">Чемпионаты</a>
    <a th:href="@{/org_com/show_all}">Оргкомитеты</a>
    <a th:href="@{/team/show_all}">Команды</a>
    <a th:href="@{/users/show_all}">Люди</a>
    <a th:href="@{/org_com/new}">Создать оргкомитет</a>
    <a th:href="@{/team/new}">Создать команду</a>
</div>
<div th:unless="${#authentication != null and #authentication.isAuthenticated()}">
    <a th:href="@{/auth/login}">Войти</a> |
    <a th:href="@{/registration}">Зарегистрироваться</a>
</div>


</body>
</html>