<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>Hello</div>
<div sec:authorize="isAuthenticated()">
  <a th:href="@{/user/profile}">View Profile</a>
</div>
<div>
    <a th:href="@{/logout}">Log Out</a>
</div>
<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>
<form th:action="@{/org_com/new}" method="get">
    <button type="submit">Сreate new Org Com</button>
</form>
<form th:action="@{/org_com/show_all}" method="get">
    <button type="submit">Show my organizations</button>
</form>
<form th:action="@{/org_com/invitations}" method="get">
    <button type="submit">Show my invitations to Orgcoms</button>
</form>
<br>
<form th:action="@{/team/new}" method="get">
    <button type="submit">Create new team</button>
</form>
<form th:action="@{/team/show_all}" method="get">
    <button type="submit">Show my teams</button>
</form>
<form th:action="@{/team/invitations}" method="get">
    <button type="submit">Show my invitations to Teams</button>
</form>
</body>
</html>