<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${user_team.user.name + ' ' + user_team.user.surname}"></h3>

<div th:if="${user_team.isCap && user_team.user.id != userId}"></div>

<a th:href="@{/edit_user_team/remove_as_cap/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Забрать права капитана'"></a>


<div th:unless="${user_team.isCap}">
    <a th:href="@{/edit_user_team/assign_as_cap/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Назначить капитаном'"></a>



</div>
<div th:if="${user_team.isPlaying}">

    <a th:href="@{/edit_user_team/remove_as_playing/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Не играет'"></a>


</div>
<div th:unless="${user_team.isPlaying}">
    <a th:href="@{/edit_user_team/assign_as_playing/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Играет'"></a>
</div>

<div th:if = "${user_team.invitationStatus == T(com.course_work.Sports_Menagement_Platform.data.enums.InvitationStatus).PENDING}">'
    <a th:href="@{/edit_user_team/cancel_invitation/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Отменить приглашение'"></a>


</div>
    <div th:if = "${user_team.invitationStatus == T(com.course_work.Sports_Menagement_Platform.data.enums.InvitationStatus).ACCEPTED}">
        <a th:href="@{/edit_user_team/remove/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Исключить из команды'"></a>

    </div>

<div th:if = "${userId == user_team.user.id && !isOnlyCap}">
    <a th:href="@{/edit_user_team/leave/{userTeamId}(userTeamId=${user_team.id})}" th:text="'Покинуть команду'"></a>

</div>
</body>
</html>