<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Дополнительные матчи</title>
</head>
<body>
<div>
    <h3>Завершенные матчи</h3>
    <div th:each="match : ${finishedMatches}">
        <a th:href="@{/match/view/{matchId}(matchId=${match.id})}"
           th:text="${match.team1.name} + ' x ' + ${match.team2.name}"></a>
    </div>
</div>
</div>

<div>
    <h3>Опубликованные матчи</h3>
    <div th:each="match : ${publishedMatches}">
    <a th:href="@{/match/view/{matchId}(matchId=${match.id})}"
       th:text="${match.team1.name} + ' x ' + ${match.team2.name} + ' | ' + ${#temporals.format(match.slot.date, 'yyyy-MM-dd') + ' - ' + #temporals.format(match.slot.time, 'HH:mm') + ' - ' + match.slot.location.name}"></a>
    </div>

    <div th:if="${isUserChief}">
        <form th:action="@{/match/cancel/{id}(id=${match.id})}" method="post">
            <button type="submit">Отменить</button>
        </form>
    </div>

</div>

<div th:if="${isUserOrg}">
    <h3>Непубликованные матчи</h3>
    <div th:each="match : ${matchesInWork}">
        <a th:href="@{/match/view/{matchId}(matchId=${match.id})}"
           th:text="${match.team1.name} + ' x ' + ${match.team2.name} + ' | ' + ${#temporals.format(match.slot.date, 'yyyy-MM-dd') + ' - ' + #temporals.format(match.slot.time, 'HH:mm') + ' - ' + match.slot.location.name}"></a>
        <div>
            <form th:action="@{/stage/publish_stage/{id}(id=${match.stage.id})}" method="post">
                <button type="submit">Опубликовать</button>
            </form>
        </div>

        <div>
            <form th:action="@{/match/cancel/{id}(id=${match.stage.id})}" method="post">
                <button type="submit">Отменить</button>
            </form>
        </div>
    </div>


    <form th:action="@{/match/new_additional/{id}(id=${tournamentId})}" method="post" th:object="${additionalMatchDTO}">
        <select th:field="*{team1}" required>
            <option value="">Команда 1</option>
            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>

        <select th:field="*{team2}" required>
            <option value="">Команда 2</option>
            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>

        <select th:field="*{slot}" required>
            <option value="">Слот</option>
            <option th:each="slot : ${freeSlots}" th:value="${slot.id}"
                    th:text="${#temporals.format(slot.date, 'yyyy-MM-dd') + ' - ' + #temporals.format(slot.time, 'HH:mm') + ' - ' + slot.location.name}"></option>
        </select>
        <button type="submit">Добавить</button>

    </form>

</div>






</body>
</html>